.super-mario {
    width: 200px;
    position: absolute
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    bottom: 370px;
  }
  
  .baloon {
    position: absolute;
    left: 300px;
    z-index: 1;
  
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    left: 300px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    left: 600px;
    top: 300px;
  }